@model MagicCarpetWebApp.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConcertId" class="control-label">Concert</label>
                <select asp-for="ConcertId" class ="form-control" asp-items="ViewBag.ConcertId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <select asp-for="Destination" class ="form-control" asp-items="ViewBag.Stations"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Total persons traveling</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: center;">
                <input type="button" value="Check" class="btn btn-default" id="get_extra_info"/>
            </div>
            
            <div id="extra_info">
                <hr class="nice_bar"/>
                <div style="text-align: center;">
                    <p>Amount of people needed to make this happen</p>
                    <strong style="font-size: 20px; margin: 5px 0;" id="seats_still_needed"></strong>
                </div><br/>
                <div class="form-group" style="text-align: center;">
                    <input type="submit" value="I'm in" class="btn btn-default"/>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {  
        $("#get_extra_info").click(function () {
            var concertId = $("#ConcertId option:selected").val();
            var destination = $("#Destination option:selected").val();
            $.ajax({  
                type: "GET",  
                url: "api/Calculate/GetStillNeededSeats?concertId=" + concertId + "&destination=" +  destination,  
                contentType: "application/json; charset=utf-8",  
                dataType: "json",  
                success: function (data) {
                    $("#seats_still_needed").text(data);
                    $("#extra_info").show();
                    console.log(data);  
                }, //End of AJAX Success function  
  
                failure: function (data) {  
                    alert(data.responseText);  
                }, //End of AJAX failure function  
                error: function (data) {  
                    alert(data.responseText);  
                } //End of AJAX error function  
  
            });         
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
