html {
    height: 100%;
    background: #fd027e;
    margin: 0;
    padding: 0;
}
body {
    padding: 5px;
    min-height: 100%;
    background: #fd027e; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #fd027e, #3c5bf4) no-repeat; /* Standard syntax (must be last) */
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: #FFF;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
form {
    background: #FFF;
    padding: 5px;
    color: #000;
}
.title {
    color: #FFF;
    text-align: center;
}

#extra_info {
    display: none;
}

.nice_bar {
    margin: 20px 30px;
    height: 10px;
    background: linear-gradient(to right, #3c5bf4, #fd027e) no-repeat;
}